* {
    display: block;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-content::before {
    content: "";
    background-image: linear-gradient(0deg, rgba(0, 42, 62, 0.51), rgba(0, 42, 62, 0.51)), url("../image/bg.png");
    position: fixed;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
    margin: -10px; /* this will do the trick */
}

.notif-ticket {
    position: absolute;
    left: 10px;
    top: 45%;
    bottom: 0;
    width: 69px;
    height: 136px;
    background: #7C7C7C;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.line-notif {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #FFC734, #F86041);
}

.main-content {
    justify-content: center;
    padding-left: 3em;
    padding-right: 3em;
}

.count-ticket {
    /* background: rgb(20, 119, 0); */
    width: 100%;
    height: 100vh;
}

.danger-status {
    /* background: rgb(133, 0, 0); */
    width: 100%;
    height: 100vh;
    margin-top: 0;
}

.warning-status {
    /* background: rgb(129, 129, 0); */
    width: 100%;
    height: 100vh;
}

.title-contain-ticket {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.group-count-ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-count-ticket-asap {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 90vh;
    margin-top: 2em;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.group-count-ticket-wait {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 90vh;
    /* margin-top: 2em; */
    /* align-items: center; */
    overflow-y: auto;
    overflow-x: hidden;
}

.group-ticket-warn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}

.group-ticket-new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contain-count {
    width: 100%;
    max-width: 400px;
    height: 205px;
    margin: 20px;
    border-radius: 20px;
    background: radial-gradient(65.1% 137.51% at 1.78% 97.55%, rgba(62, 255, 58, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(115.74% 299.32% at 96.57% 6.94%, rgba(255, 199, 52, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #002A3E;
    border: 1px solid #FB3AFF;
    padding: 25px;
}

.contain-count-asap {
    width: 100%;
    max-width: 400px;
    height: 205px;
    margin: 20px;
    border-radius: 20px;
    background: #F90000;
    padding: 20px;
}

.contain-count-wait {
    width: 100%;
    max-width: 400px;
    height: 205px;
    margin: 20px;
    border-radius: 20px;
    background: #48ABD9;
    padding: 25px;
}

.contain-count-warning {
    width: 100%;
    max-width: 400px;
    height: 205px;
    margin: 20px;
    border-radius: 20px;
    background: #F9A500;
    padding: 25px;
}

.title-category-ticket {
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 28px;
}

.title-category-ticket .category-ticket-waiting {
    color: #FFFF;
    font-size: 18px;
    font-weight: 700;
}

.arrow-button {
    width: 40px;
    height: 40px;
    background-image: url(../image/subtrac-nobg.png);
    background-color: #3EFC68;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
}

.arrow-button:hover {
    /* transform: rotate(180deg); */
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: rotate(180deg);
}

.line-count-ticket {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #000000, #3EFF3A);
    margin-top: 35px;
}

.line-asap-ticket {
    width: 100%;
    height: 2px;
    background: #FFF;
    margin-top: 10px;
}

.detail-count-ticket {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 14px;
}

.content-wait {
    width: 40px;
    height: 400px;
}

.asap-title-ticket {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #FFFF;
    line-height: 35px;
}

.status-asap {
    font-size: 20px;
    color: #FFF;
    font-weight: 400;
}

.id-asap-ticket {
    font-size: 20px;
    color: #FFF;
    font-weight: 500;
}

.ignore-ticket {
    cursor: pointer;
    background: none;
    border: none;
}

.notif-asap {
    font-size: 18px;
    color: #FFF;
}

.time-asap {
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
}

.subject-asap {
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
}

/* width */
.group-count-ticket-wait::-webkit-scrollbar,
.group-count-ticket-asap::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

/* Handle */
.group-count-ticket-wait::-webkit-scrollbar-thumb,
.group-count-ticket-asap::-webkit-scrollbar-thumb {
    /* background: red;  */
    background: rgb(61, 60, 60);
    border-radius: 10px;
}

/* Handle on hover */
.group-count-ticket-wait::-webkit-scrollbar-thumb:hover,
.group-count-ticket-asap::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

@keyframes rotate{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(180deg); }
}

@media only screen and (max-width: 600px) {
    html {
      overflow-y: auto;
    }
    .title-contain-ticket {
        font-size: 24px;
    }
    /* .subject-asap {
        font-size: 16px;
    } */
    .contain-count-warning,
    .contain-count-wait,
    .contain-count-asap {
        height: 250px;
    }
    .danger-status,
    .warning-status {
        margin-top: 5em;
    }
  }