* {
    display: block;
}

html {
    overflow-x: hidden;
}

.main-content::before {
    content: "";
    background-image: linear-gradient(0deg, rgba(0, 42, 62, 0.51), rgba(0, 42, 62, 0.51)), url("../image/bg.png");
    position: fixed;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
    margin: -10px; /* this will do the trick */
}

.notif-ticket {
    position: absolute;
    left: 10px;
    top: 45%;
    bottom: 0;
    width: 69px;
    height: 136px;
    background: #7C7C7C;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.line-notif {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #FFC734, #F86041);
}

.main-content {
    justify-content: center;
    padding-left: 3em;
    padding-right: 3em;
}

.count-ticket {
    /* background: rgb(20, 119, 0); */
    width: 100%;
    height: 100vh;
}

.danger-status {
    /* background: rgb(133, 0, 0); */
    width: 100%;
    height: 100vh;
}

.warning-status {
    /* background: rgb(129, 129, 0); */
    width: 100%;
    height: 100vh;
}

.title-contain-ticket {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.group-count-ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contain-count {
    width: 100%;
    max-width: 400px;
    height: 205px;
    margin: 20px;
    border-radius: 20px;
    background: radial-gradient(65.1% 137.51% at 1.78% 97.55%, rgba(62, 255, 58, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(115.74% 299.32% at 96.57% 6.94%, rgba(255, 199, 52, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #002A3E;
    border: 1px solid #FB3AFF;
    padding: 25px;
}

.title-category-ticket {
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 28px;
}

.arrow-button {
    width: 40px;
    height: 40px;
    background: #3EFC68;
    border-radius: 8px;
}

.line-count-ticket {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #000000, #3EFF3A);
    margin-top: 35px;
}

.detail-count-ticket {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 14px;
}